<head>
  <style>
  a, .link-button {
    color: #fff;
  }
  </style>
</head>
<!-- User's name -->
<h3>Budget: <%= @budget.name %></h3>
<h3<%= @budget.type_of_budget %></h3>
<h5>You started with <%= @budget.amount %>0 this budget cycle</h5>
<h5>You have <%= @budget.current_amount %>0 left</h5>
<div class="row">
  <div class="col s6">
    <div class="well">
      <form action="/update_budget/<%= @budget.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="text" id="budget_name" name="budget_name" placeholder="Enter New Budget Name">
        <input type="text" id="budget_amount" name="budget_amount" placeholder="Enter New Budget Amount">
        <label for="type_of_budget">Type of Budget</label>
        <select class="browser-default" id="type_of_budget" name="type_of_budget">
          <option value="Monthly">Monthly</option>
          <option value="Yearly">Yearly</option>
        </select>
        <br>
        <button type="submit" class="btn">Update Budget</button>
      </form>
      <br>
      <button type="button" class="btn link-button"><a href="/budgets">Return to Budgets</a></button>
    </div>
  </div>
</div>
