<h3>Edit <%= @transaction.category %></h3>

<form action="/transactions_edit/<%= @transaction.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input id="category" name="category" placeholder="Update <%= @transaction.category %> Name">
  <input id="amount" name="amount" placeholder="Update $<%= @transaction.amount %>">
  <input id="date" name="date" placeholder="Update <%= @transaction.date %>" type="datetime">
  <input id="place" name="place" placeholder="Update <%= @transaction.place %>">
  <label for="budget_id">Update Budget:</label>
  <select class="browser-default" name="budget_id">
    <% @user.budgets.each do |budget| %>
      <option value="<%= budget.id %>"><%= budget.name %>, $<%= budget.current_amount %></option>
    <% end %>
  </select>
  <br>
  <label for="accounts">Update Account:</label>
  <select class="browser-default" name="account_id">
    <% @user.accounts.each do |account| %>
      <option value="<%= account.id %>"><%= account.name %></option>
    <% end %>
  </select>
  <br>
  <button type="submit" class="btn">Update</button>
</form>
