<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Heebo:100|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="js/Chart.js"></script>
    <script src="js/application.js" type="text/javascript"></script>
    <script src="js/chartkick.js" type="text/javascript"></script>
    <script src="js/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="js/materialize.min.js" type="text/javascript"></script>
    <script src='js/scripts.js' type="text/javascript"></script>
    <title>BankNotes</title>
  </head>
  <body>
    <nav>
    <div class="nav-wrapper navcolor">
      <a href="/" class="brand-logo">BankNotes</a>
      <span id="nav-username" class="brand-logo"><% if @user %> |
        <%= @user.name %>
        <% end %> </span>
      <% if session[:user_id] %>
      <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="<%= 'active' if request.url == 'http://localhost:4567/user_account' or request.url == 'http://banknotes-epicodus.herokuapp.com/user_account'%>"><a href="/user_account">Accounts</a></li>
          <li class="<%= 'active' if request.url == 'http://localhost:4567/budgets' or request.url == 'http://banknotes-epicodus.herokuapp.com/budgets' %>"><a href="/budgets">Budgets</a></li>
          <% if @user %>
            <% if @user.accounts.any? %>
              <li class="<%= 'active' if request.url == 'http://localhost:4567/transactions' or request.url == 'http://localhost:4567/transaction_search' or request.url == 'http://banknotes-epicodus.herokuapp.com/transactions' or request.url == 'http://banknotes-epicodus.herokuapp.com/transaction_search' %>"><a href="/transactions">Transactions</a></li>
            <% end %>
          <% end %>
          <li class="<%= 'active' if request.url == 'http://localhost:4567/stocks' or request.url == 'http://banknotes-epicodus.herokuapp.com/stocks' %>"><a href="/stocks">Stocks</a></li>
          <li class="<%= 'active' if request.url == 'http://localhost:4567/edit_profile' or request.url == 'http://banknotes-epicodus.herokuapp.com/edit_profile' %>"><a href="/edit_profile">Edit Profile</a></li>
          <li class="<%= 'active' if request.url == 'http://localhost:4567/logout' or request.url == 'http://banknotes-epicodus.herokuapp.com/logout' %>"><a href="/logout">Sign Out</a></li>
      </ul>
      <ul id="mobile-demo" class="right side-nav">
          <li class="<%= 'active' if request.url == 'http://localhost:4567/user_account' or request.url == 'http://banknotes-epicodus.herokuapp.com/user_account' %>"><a href="/user_account">Accounts</a></li>
          <li class="<%= 'active' if request.url == 'http://localhost:4567/budgets' or request.url == 'http://banknotes-epicodus.herokuapp.com/budgets' %>"><a href="/budgets">Budgets</a></li>
          <li class="<%= 'active' if request.url == 'http://localhost:4567/transactions' or request.url == 'http://localhost:4567/transaction_search' or request.url == 'http://banknotes-epicodus.herokuapp.com/transactions' or request.url == 'http://banknotes-epicodus.herokuapp.com/transaction_search' %>"><a href="/transactions">Transactions</a></li>
          <li class="<%= 'active' if request.url == 'http://localhost:4567/stocks' or request.url == 'http://banknotes-epicodus.herokuapp.com/stocks' %>"><a href="/stocks">Stocks</a></li>
          <li class="<%= 'active' if request.url == 'http://localhost:4567/edit_profile' or request.url == 'http://banknotes-epicodus.herokuapp.com/edit_profile' %>"><a href="/edit_profile">Edit Profile</a></li>
          <li class="<%= 'active' if request.url == 'http://localhost:4567/logout' or request.url == 'http://banknotes-epicodus.herokuapp.com/logout' %>"><a href="/logout">Sign Out</a></li>
      </ul>
      <% end %>
    </div>
  </nav>
    <div class='container'>
      <%= yield %>
    </div>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright BankNotes LLC.
        <a class="grey-text text-lighten-4 right" href="/about">About BankNotes</a>
        </div>
      </div>
    </footer>
  </body>
</html>
