<h2>Transactions Central</h2>

<form action="/transactions" method="post">
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <label for="amount">Enter Transaction Amount</label>
  <input type="text" id="amount" name="amount">
  <label for="date">Enter Date of Transaction</label>
  <input type="datetime-local" id="date" name="date">
  <label for="place">Enter Location of Transaction</label>
  <input type="text" id="place" name="place">
  <label for="category">Enter Category</label>
  <input type="text" id="category" name="category">
  <select class="browser-default" name="transaction_type">
    <option value="0">Debit</option>
    <option value="1">Credit</option>
  </select>
  <select class="browser-default" name="budget_id">
    <% @user.budgets.each do |budget| %>
      <option value="<%= budget.id %>"><%= budget.name %>, $<%= budget.current_amount %></option>
    <% end %>
  </select>
  <br>
  <button type="submit" class="btn">Add Transaction</button>
</form>
<br>

<h4>Transaction History</h4>

<% if @user.transactions.any? %>
<table class="striped">
  <thead>
    <tr>
        <th data-field="id">Category</th>
        <th data-field="name">Place</th>
        <th data-field="price">Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @user.transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.category %></td>
      <td><%= transaction.place %></td>
      <td>$<%= transaction.amount %>0</td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>No transactions to display, brah.</p>
<% end %>
